<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Ticket</title>
</head>
<body>
    <h1>Book Ticket</h1>
    <form action="/book_ticket" method="post">
        <label for="film_id">Select Film:</label>
        <select id="film_id" name="film_id">
            {% for film in films %}
                <option value="{{ film[0] }}">{{ film[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="session_id">Select Session:</label>
        <select id="session_id" name="session_id">
            {% for session in sessions %}
                <option value="{{ session[0] }}">{{ session[0] }}</option>
            {% endfor %}
        </select><br>
        <label for="user_id">User ID:</label>
        <input type="number" id="user_id" name="user_id" required><br>
        <label for="seat">Seat:</label>
        <input type="number" id="seat" name="seat" required><br>
        <button type="submit">Book Ticket</button>
    </form>
</body>
</html>
