<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Session</title>
</head>
<body>
    <h1>Update Session</h1>
    <form action="/update_session/{{ session[0] }}" method="post">
        <label for="duration">Duration:</label>
        <input type="number" id="duration" name="duration" value="{{ session[1] }}" required><br>
        <label for="film">Film:</label>
        <select id="film" name="film" required>
            {% for film in films %}
                <option value="{{ film[0] }}" {% if film.idFilms == session[2] %} selected {% endif %}>{{ film[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="hall">Hall:</label>
        <select id="hall" name="hall" required>
            {% for hall in halls %}
                <option value="{{ hall[0] }}" {% if hall.idHalls == session[3] %} selected {% endif %}>{{ hall[1] }}</option>
            {% endfor %}
        </select><br>
        <label for="date">Date and Time Start:</label>
        <input type="datetime-local" id="date" name="date" value="{{ session[4] }}" required><br>
        <button type="submit">Update Session</button>
    </form>
</body>
</html>
