<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Ticket Price</title>
</head>
<body>
    <h1>Update Ticket Price</h1>
    <form action="/update_ticket_price/{{ ticket_price.TicketPriceID }}" method="post">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" value="{{ ticket_price[1] }}" required><br>
        <button type="submit">Update Ticket Price</button>
    </form>
</body>
</html>
